@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Mark Simonson - Proxima Nova Bold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Bold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Bold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Mark Simonson - Proxima Nova Condensed Regular.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Mark Simonson - Proxima Nova Condensed Semibold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Condensed Semibold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Semibold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ';
  src: url("../fonts/Mark Simonson - Proxima Nova Condensed Regular Italic.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular Italic.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular Italic.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular Italic.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: 'Proxima Nova';
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__title {
  width: 198px;
  height: 36px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  /* or 18px */
  display: flex;
  align-items: center;
  color: #353541;
  margin-right: 91px;
}

.icon-tel {
  fill: #3B8DD0;
}

.logo {
  margin-right: 34px;
}

.heder__tel {
  height: 28px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170.23%;
  /* identical to box height, or 27px */
  display: flex;
  align-items: center;
  text-align: center;
  /* font */
  color: #161835;
  margin-right: 45px;
}

.header__mail {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.68;
  /* identical to box height, or 27px */
  display: flex;
  align-items: center;
  text-align: center;
  /* font */
  color: #161835;
  margin-right: 45px;
}

.icon {
  margin-right: 8px;
}

.header_btn {
  width: 213px;
  height: 42px;
  padding: 7px 25px;
  background: #3B8DD0;
  border-radius: 100px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.68;
  /* identical to box height, or 27px */
  display: flex;
  align-items: center;
  text-align: center;
  /* white */
  color: #FFFFFF;
}

.wrap {
  display: flex;
  padding-top: 27px;
  margin-bottom: 21px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  /* or 23px */
  display: flex;
  align-items: center;
  /* 2 */
  color: #3B8DD0;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav {
  margin-left: auto;
}

.nav__item:hover > .nav_link {
  color: #FC0E28;
}

.hero {
  width: 500px;
  background-image: url("../../images/Group.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
}

.main {
  position: relative;
}
/*# sourceMappingURL=main.css.map */