@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Mark Simonson - Proxima Nova Bold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Bold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Bold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ Simonson - Proxima Nova Condensed Regular.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Mark Simonson - Proxima Nova Condensed Semibold.eot");
  src: local("☺"), url("../fonts/ Simonson - Proxima Nova Condensed Semibold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Condensed Semibold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Condensed Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Proxima Nova";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --card-item: 3;
  --card-gap: 30px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--card-gap) * -1);
  margin-top: calc(var(--card-gap) * -1);
}

.card-item {
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__title {
  width: 196px;
  height: 36px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  /* or 18px */
  display: flex;
  align-items: center;
  color: #353541;
  margin-right: 91px;
}

.icon-tel {
  fill: #3B8DD0;
}

.logo {
  margin-right: 35px;
}

.header__tel {
  height: 28px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 27px */
  display: flex;
  align-items: center;
  text-align: center;
  /* font */
  color: #161835;
  margin-right: 45px;
}

.header__tel-accent {
  font-weight: 700;
  margin-right: 4px;
}

.header__mail {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.68;
  /* identical to box height, or 27px */
  display: flex;
  align-items: center;
  text-align: center;
  /* font */
  color: #161835;
  margin-right: 45px;
}

.header__mail-accent {
  font-weight: 700;
}

.icon {
  margin-right: 8px;
}

.header_btn {
  width: 213px;
  height: 42px;
  padding: 11px 25px 5px;
  background: #3B8DD0;
  border-radius: 100px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.68;
  /* identical to box height, or 27px */
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  text-align: center;
  /* white */
  color: #FFFFFF;
}

.header__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.wrap {
  display: flex;
  padding-top: 27px;
  margin-bottom: 21px;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.27;
  /* or 23px */
  display: flex;
  align-items: center;
  /* 2 */
  color: #3B8DD0;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav {
  margin-left: auto;
}

.nav__item:hover > .nav_link {
  color: #FC0E28;
}

.hero {
  margin-top: 127px;
}

.hero__img {
  position: relative;
  z-index: -1;
}

.hero__wrap {
  display: flex;
}

.hero__text__accent {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  /* identical to box height, or 23px */
  color: #FC0E28;
  margin-bottom: 6px;
}

.hero__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  width: 560px;
  color: #161835;
  margin-bottom: 38px;
}

.hero__laibl {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #161835;
  width: 500px;
  margin-bottom: 43px;
}

.hero__btn {
  width: 190px;
  height: 50px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  background: #FC0E28;
  border-radius: 100px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.72;
  text-align: center;
  color: #FFFFFF;
}

.statistic {
  background-image: url("../../images/Group 309.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 933px;
  padding-bottom: 80px;
}

.statistic__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.48;
  text-align: center;
  color: #161835;
  padding-top: 47px;
  margin-bottom: 10px;
}

.statistic__liable {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  color: #161835;
  width: 468px;
  height: 55px;
  margin: 0 auto;
  opacity: 0.8;
  margin-bottom: 31px;
}

.statistic__item {
  width: 370px;
  height: 313px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(47, 51, 73, 0.05);
  border-radius: 10px;
  padding: 36px 39px 45px;
}

.card__accent {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.5;
  color: #FC0E28;
  display: flex;
  justify-content: center;
}

.card__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.52;
  text-align: center;
  color: #161835;
  margin-bottom: 21px;
}

.card__text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  color: #161835;
  opacity: 0.8;
}

.abaut {
  margin-top: 119px;
  margin-bottom: 51px;
  display: flex;
}

.abaut__wrap {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.abaut__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: #161835;
  margin-bottom: 25px;
}

.abaut__laible {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #161835;
  opacity: 0.8;
  margin-bottom: 40px;
}

.abaut__btn {
  width: 198px;
  height: 50px;
  background: #FC0E28;
  border-radius: 100px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.72;
  text-align: center;
  color: #FFFFFF;
}

.benefits__img {
  position: absolute;
  width: 100%;
  height: 164%;
  z-index: -1;
  top: 2165px;
}

.benefits__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  color: #161835;
  margin-top: 202px;
  margin-bottom: 50px;
}

.benefits__list {
  display: flex;
}

.item__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.8;
  text-align: center;
  color: #161835;
  width: 270px;
}

.item__title_accent {
  font-weight: 500;
}

.benefits__icon {
  margin: 0 90px 32px;
}

.benefits {
  padding-bottom: 190px;
}

.wrap__reiews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: #161835;
  margin-bottom: 7px;
}

.reviews__subtitle {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  text-align: center;
  /* font */
  color: #161835;
  opacity: 0.8;
  width: 468px;
  margin-bottom: 324px;
}

.reviews__text {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  text-align: center;
  color: #161835;
  opacity: 0.8;
  width: 867px;
  height: 87px;
  position: relative;
  padding: 10px 40px;
}

.icon-left {
  position: absolute;
  top: 7px;
  left: 0;
}

.icon-right {
  position: absolute;
  bottom: -16px;
  right: 0;
}

.reviews {
  padding-bottom: 76px;
}

.news {
  background-image: url("../../images/Vector 11.png");
  background-repeat: no-repeat;
  background-size: 100% 650px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 100px;
}

.news__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 150%;
  /* identical to box height, or 52px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font */
  color: #161835;
  margin-bottom: 41px;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 370px;
  height: 404px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(47, 51, 73, 0.05);
  border-radius: 10px;
}

.news__box {
  padding: 26px 15px 51px;
}

.news__item__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */
  display: flex;
  align-items: center;
  text-align: center;
  /* font */
  color: #161835;
  margin-bottom: 15px;
}

.news__item_accent {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  display: flex;
  justify-content: center;
  text-align: center;
  /* 1 */
  color: #FC0E28;
  margin-bottom: 10px;
}

.news__item__leible {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  text-align: center;
  /* font */
  color: #161835;
  opacity: 0.8;
}

.footer {
  padding: 18px 0 29px;
}

.footer__wrap {
  display: flex;
  margin-bottom: 32px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  margin-right: 95px;
}

.footer__leible {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */
  display: flex;
  align-items: center;
  color: #353541;
  opacity: 0.8;
  width: 206px;
  margin-top: 14px;
}

.footer__list {
  margin-right: 81px;
}

.footer__item {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 170.23%;
  /* identical to box height, or 27px */
  display: flex;
  align-items: center;
  /* font */
  color: #161835;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  display: flex;
  flex-direction: column;
}

.link {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170.23%;
  /* identical to box height, or 27px */
  display: flex;
  align-items: center;
  /* font */
  color: #161835;
}

.link:not(:last-child) {
  margin-bottom: 10px;
}

.footer__tel-accent {
  font-weight: 700;
  margin-right: 4px;
}

.footer__mail-accent {
  font-weight: 700;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__text {
  width: 321px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  display: flex;
  align-items: center;
  /* font */
  color: #161835;
}

.glanitc {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  text-transform: uppercase;
  /* font */
  color: #161835;
  display: flex;
  align-items: flex-end;
}

.glanitc__icon {
  margin-right: 4px;
}/*# sourceMappingURL=main.css.map */