.header__title {
    width: 196px;
    height: 36px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    /* or 18px */

    display: flex;
    align-items: center;

    color: #353541;
    margin-right: 91px;
}

.icon-tel {
    fill: #3B8DD0;
}

.logo {
    margin-right: 35px;
}

.header__tel {
    height: 28px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 27px */

    display: flex;
    align-items: center;
    text-align: center;

    /* font */

    color: #161835;
    margin-right: 45px;
}

.header__tel-accent {
    font-weight: 700;
    margin-right: 4px;
}

.header__mail {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.68;
    /* identical to box height, or 27px */

    display: flex;
    align-items: center;
    text-align: center;

    /* font */

    color: #161835;
    margin-right: 45px;
}

.header__mail-accent {
    font-weight: 700;

}

.icon {
    margin-right: 8px;
}

.header_btn {
    width: 213px;
    height: 42px;
    padding: 7px 25px;
    background: #3B8DD0;
    border-radius: 100px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.68;
    /* identical to box height, or 27px */
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;


    /* white */

    color: #FFFFFF;
}

.header__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.wrap {
    display: flex;
    padding-top: 27px;
    margin-bottom: 21px;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.nav_link {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.27;
    /* or 23px */

    display: flex;
    align-items: center;

    /* 2 */

    color: #3B8DD0;

}

.nav__item:not(:last-child) {
    margin-right: 30px;
}

.nav {
    margin-left: auto;
}

.nav__item:hover>.nav_link {
    color: #FC0E28;
}