.hero {
    width: 500px;
    background-image: url('../../images/Group.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    top: 0;
    right: 0;

}

.main {
    position: relative;
}